[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/krishdumpa
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/krishdumpa
	label-Verified = -1..+1 group user/krishdumpa
	push = group user/krishdumpa
	read = group user/krishdumpa
	rebase = group user/krishdumpa
	removeReviewer = group user/krishdumpa
	submit = group user/krishdumpa
[access "refs/heads/*"]
	create = group user/krishdumpa
	push = +force group user/krishdumpa
	pushMerge = group user/krishdumpa
	read = group user/krishdumpa
[access "refs/tags/*"]
	push = group user/krishdumpa
	push = +force group user/krishdumpa
